:root {
    background-color: rgb(223, 223, 223);
    --grid-cols: 16;
    --grid-rows: 16;
}

*:focus{
    outline: lightcoral;
}

#container {
    display: flex;
    align-items: center;
    justify-content: center;
}

#grid-container {
    display: grid;
    margin: none;
    width: 49%;
    border: 1em solid lightcoral;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    max-width: 960px;
    max-height: 960px;
}

#grid-item:before {
    content: "";
    display: block;
    padding-top: 100%;
}

#grid-item:hover {
    border-radius: 1vh;
}

#btns {
    display: flex;
    padding-right: 10em;
}

.btn {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    padding: 1em;
    display: inline-block;
    font-family: "Lucida Console", Monaco, monospace;
    cursor: pointer;
    position: relative;
}
.btn:hover {
    background-color: lightcoral;
    transition: 0.25s ease;
}

#mode-para {
    padding-left: 0.1em;
    font-family: monospace;
    font-size: 2rem;
}